@import 'variables';

@mixin button($color: $default_color, $active-color: $default_active-color, $hover-bg-color: #e2e2e2) {
  $clicked-color: $hover-bg-color;
  height: 100%;
  min-width: 24px;
  padding: 0 5px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $color;
  cursor: pointer;

  & i {
    font-size: 18px;
  }

  &:hover {
    background-color: $hover-bg-color;
  }

  &:active {
    color: $active-color;
  }

  &.clicked {
    background-color: $clicked-color;
    color: $active-color;
  }
}

@mixin button-container() {
  display: flex;
  height: 24px;
}

@mixin input() {
  margin: 0;
  padding: 2px 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 20px;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  color: #8e8e8e;
  overflow: hidden;
  background-color: inherit;

  &:hover {
    border: 1px solid $default-hover-color;
  }

  &:focus {
    border: 2px solid $default_active-color;
    background-color: #ffffff;
    color: #000000;
  }
}


@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}