@import 'variables';
@import 'mixins';

.excel__header {
  position: absolute;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  background-color: #e2f0ff;

  .input {
    @include input();
  }

  .button-container {
    @include button-container();
  }

  .button {
    @include button();
  }
}