@import 'variables';
@import 'mixins';

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: $row-min-height;
    height: $row-height;

  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: none;
    height: inherit;
    cursor: default;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    cursor: default;
  }

  .row-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border:1px solid $border-color-cell;
    border-top: none;
    border-left: none;
    padding: 7px 5px 0;
    outline: none;
    &.selected {
      border: none;
      outline: 2px solid #5087ff;
      z-index: 2;
    }
  }
}