@import 'variables';
@import 'mixins';

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: $row-min-height;
    height: $row-height;

  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    min-height: $row-min-height;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    border-top: none;
    height: inherit;
    cursor: default;
    position: relative;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    cursor: default;
    position: relative;
  }

  .row-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    min-height: $row-min-height;
    height: 100%;
    border:1px solid $border-color-cell;
    border-top: none;
    border-left: none;
    padding: 7px 5px 0;
    outline: none;
    &.preselected {
      background-color: #E2F0FF;
    }

    &.selected {
      background-color: $default-active-color;
    }

    &.focus {
      background-color: #bfdef9;
      border:none;
      outline: 2px solid #5087ff;
      z-index: 2;
    }
  }


  .col-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: $default-hover-color;
    }
  }

  .col-resize {
    top: 0;
    width: 3px;
    cursor: col-resize;
  }

  .row-resize {
    left: 0;
    cursor: row-resize;
    height: 3px;
  }

  .resizer-row, .resizer-col {
    background-color: $default-hover-color;
  }

  .resizer-row {
    height: 3px;
    left: 0;
    right: 0;
    position: fixed;
  }

  .resizer-col {
    width: 3px;
    top: 0;
    bottom: 0;
    position: absolute;
  }
}