@import 'variables';
@import 'mixins';

.excel__toolbar {
  .button {
    @include button();
  }

  display: flex;
  justify-content: flex-start;
  top: $header-height;
  left: 0;
  right: 0;
  height: fit-content;
  flex-wrap: wrap;
  min-width: 480px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;

  .button-container {
    @include button-container();
    border-right: 1px solid $border-color;
  }

  .button-container:first-child {
    border-left: 1px solid $border-color;
  };
}